<div class="grzybogranie-root">
  <mat-toolbar>
    <a class="grzybogranie-root__app-title" routerLink="mushroom-list"
      >Grzybogranie</a
    >
    <span class="grzybogranie-root__spacer"></span>
    <button mat-icon-button aria-label="start the game" routerLink="start-game">
      <mat-icon color="primary">sports_esports</mat-icon>
    </button>
  </mat-toolbar>

  <section class="grzybogranie-root__hero-section">
    <h1 class="grzybogranie-root__hero-title">Explore the forest</h1>
    <p class="grzybogranie-root__hero-description">
      Challenge your Polishness!
    </p>
  </section>
</div>
