$accent-color: #551a8b;
$hero-background-color: #f5f5f5;
$media-sm-screen: 600px;

.grzybogranie-root {
  &__spacer {
    flex: 1 1 auto;
  }

  &__app-title {
    text-decoration: none;
    font-weight: 900;
  }

  &__hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: $hero-background-color;
    height: 25vh;

    @media only screen and (max-width: $media-sm-screen) {
      gap: 0.3rem;
    }
  }

  &__hero-title {
    font-size: 4rem;
    font-weight: 900;
    color: $accent-color;

    @media only screen and (max-width: $media-sm-screen) {
      font-size: 2rem;
    }
  }

  &__hero-description {
    font-size: 2rem;
    font-weight: lighter;
    color: $accent-color;

    @media only screen and (max-width: $media-sm-screen) {
      font-size: 1rem;
    }
  }
}
